@import 'themes/_dark.scss';

.Results_wrapper {
  font-size: 2rem;
  color: $shadeMin;
  font-family: 'Geo', sans-serif;
}

.results-header {
  font-size: 2rem;
  text-align: center;
}

.results-details {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  text-transform: capitalize;
}

#submit-run-form {
  display: flex;
  width: 100%;
  justify-content: center;
  flex-direction: column;
  padding: 1rem;
  max-width: 600px;
  background: $shade100;
  border: 4px solid $altSuccess;
  margin: 2rem 0;
}
.user-name-input {
  background: $shadeMax;
  border: 4px solid $primary;
  border-radius: 0.5rem;
  padding: 1rem;
  color: $shadeMin;
  font-size: 1.5rem;
  font-family: 'Geo', sans-serif;
}
#submit-run-form .btn {
  margin: 1rem 0;
}