@import 'themes/_dark.scss';

.Landing_wrapper {
  color: $shadeMin;
  flex-grow: 1;
  font-family: 'Geo', sans-serif;
  font-size: 1.5rem;
}

.app-description,
.app-considerations,
.app-objectives,
.app-controls {
  font-family: 'Geo', sans-serif;
  font-size: 1.5rem;
  padding: 1rem;
  text-align: left;
  width: 100%;
  max-width: 960px;
}

.app-description p,
.app-considerations p {
  margin: 1rem 0;
  max-width: 960px;
}
.logo {
  display: flex;
  align-items: center;
  color: $primary;
  font-size: 10vw;
  margin-top: 2rem;
  font-family: 'Inknut Antiqua', serif;
}
.maze {
  -webkit-background-clip: text;
  background-clip: text;
  font-family: 'Geo', sans-serif;
  color: $secondary;
  font-size: 15vw;
}
.app-description,
.app-controls,
.app-objectives {

}
.Landing_wrapper h2 {
  font-size: 2rem;
  padding-bottom: 0.5rem;
  color: $secondary;
}
.objectives-list {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  max-width: 960px;
  list-style: square outside none;
}
.objectives-list li {
  display: flex;
  align-items: center;
  width: 100%;
  text-align: left;
  list-style: square outside none;
  padding: 0.5rem;
}
.keyboard-keys-list,
.mobile-controls-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  max-width: 960px;
}
.keyboard-keys-list {
  justify-content: space-evenly;
}
.keyboard-keys-list li {
  flex-basis: 1;
}
.keyboard-keys-list li img {
  max-width: 3rem;
  margin: 0.5rem;
}

.mobile-controls-list {
  justify-content: center;
}

.mobile-controls-list li img {
  width: 90vw;
  max-width: 16rem;
  margin: 0.5rem;
}

.trophy {
  max-width: 3rem;
  margin: 0 1rem;
}
@media all and (min-width: 720px) {
  .logo {
    font-size: 5vw;
  }
  .maze {
    font-size: 7.5vw;
  }
}