
.Sprite_wrapper {
  position: absolute;
  height: 100vh;
  max-height: 100vw;
  width: 100vw;
  max-width: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 90;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}